* {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

button {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    font-size: 40px;
    border: none;
}

.calculator {
    background: red;
    height: 90vh;
    aspect-ratio: 1 / 2;
}

.buttons {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    gap: 5px;
}
